.TodoList {
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  color: #fff;
  height: 100%;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & button {
    margin-top: auto;
  }
}
